.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: separate;
  border-spacing: 3px;
}

td {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  background-color: lightblue;
  border-radius: 5px;
}

.selected {
  background-color: blue;
}

#selected-cell,
#total-cell {
  margin-top: 10px;
  font-weight: bold;
}

#grid-controls {
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  margin-right: 1rem;
}

#grid-controls button {
  margin-top: 3px;
}

@media (max-width: 600px) {
  #grid-controls {
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
  }

  #grid-controls input {
    width: 100%;
    box-sizing: border-box;
  }
}
